<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>library_heaven</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>

	<servlet>
    <description></description>
    <display-name>loginServlet</display-name>
    <servlet-name>loginServlet</servlet-name>
    <servlet-class>controller.loginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>loginServlet</servlet-name>
    <url-pattern>/loginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>logoutServlet</display-name>
    <servlet-name>logoutServlet</servlet-name>
    <servlet-class>controller.logoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>logoutServlet</servlet-name>
    <url-pattern>/logoutServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>addbookservlet</display-name>
    <servlet-name>addbookservlet</servlet-name>
    <servlet-class>controller.addbookservlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addbookservlet</servlet-name>
    <url-pattern>/addbookservlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>viewbookservlet</display-name>
    <servlet-name>viewbookservlet</servlet-name>
    <servlet-class>controller.viewbookservlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>viewbookservlet</servlet-name>
    <url-pattern>/viewbookservlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>getbookbyidservlet</display-name>
    <servlet-name>getbookbyidservlet</servlet-name>
    <servlet-class>controller.getbookbyidservlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>getbookbyidservlet</servlet-name>
    <url-pattern>/getbookbyidservlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>getbookidbyquantityservlet</display-name>
    <servlet-name>getbookidbyquantityservlet</servlet-name>
    <servlet-class>controller.getbookidbyquantityservlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>getbookidbyquantityservlet</servlet-name>
    <url-pattern>/getbookidbyquantityservlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>getcategoryservlet</display-name>
    <servlet-name>getcategoryservlet</servlet-name>
    <servlet-class>controller.getcategoryservlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>getcategoryservlet</servlet-name>
    <url-pattern>/getcategoryservlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>updateLibraryServlet</display-name>
    <servlet-name>updateLibraryServlet</servlet-name>
    <servlet-class>controller.updateLibraryServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>updateLibraryServlet</servlet-name>
    <url-pattern>/updateLibraryServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>libraryDetailsServlet</display-name>
    <servlet-name>libraryDetailsServlet</servlet-name>
    <servlet-class>controller.libraryDetailsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>libraryDetailsServlet</servlet-name>
    <url-pattern>/libraryDetailsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>updatebookservlet</display-name>
    <servlet-name>updatebookservlet</servlet-name>
    <servlet-class>controller.updatebookservlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>updatebookservlet</servlet-name>
    <url-pattern>/updatebookservlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>updatebookquantityservlet</display-name>
    <servlet-name>updatebookquantityservlet</servlet-name>
    <servlet-class>controller.updatebookquantityservlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>updatebookquantityservlet</servlet-name>
    <url-pattern>/updatebookquantityservlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>deletebookservlet</display-name>
    <servlet-name>deletebookservlet</servlet-name>
    <servlet-class>controller.deletebookservlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>deletebookservlet</servlet-name>
    <url-pattern>/deletebookservlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>addlibraryServlet</display-name>
    <servlet-name>addlibraryServlet</servlet-name>
    <servlet-class>controller.addlibraryServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addlibraryServlet</servlet-name>
    <url-pattern>/addlibraryServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>dashboardServlet</display-name>
    <servlet-name>dashboardServlet</servlet-name>
    <servlet-class>controller.dashboardServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>dashboardServlet</servlet-name>
    <url-pattern>/dashboardServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>changePasswordLibraryServlet</display-name>
    <servlet-name>changePasswordLibraryServlet</servlet-name>
    <servlet-class>controller.changePasswordLibraryServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>changePasswordLibraryServlet</servlet-name>
    <url-pattern>/changePasswordLibraryServlet</url-pattern>
  </servlet-mapping>
  </web-app>